*
{
    border: 1px solid red;
}

body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
}

h1
{
    text-align: center;
    font-size: 6rem;
}

.elements-container
{
    display: flex;
    justify-content: flex-start;
    height: 40rem;
    width: 60rem;
}

.button-container
{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 1rem;
    margin: 1rem;
}

.button-container button
{
    height: 10%;
}

.grid-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 70%;
}

#grid
{
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    height: 600px;
    width: 600px;
}

.element
{
    border: 1px solid black;
}


